.donateCTA {
  color: white;
  font-size: 18px;
  min-height: 50px;
}
.donateCTA--sidenav {
  margin-left: 16px
}

.hidden {
  display: none;
}

.mainNavLogo {
  :hover {
    cursor: pointer;
  }
}

.mainNavTitle {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin-left: 12px;

  .titleFirstLine {
    height: 24px;
  }

  :hover {
    cursor: pointer;
  }
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.spacer {
  flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  color: black;
  text-decoration: none;
}

mat-toolbar .title {
  display: inline-block;
  margin: 0 10px;
  color: black;
  text-decoration: none;
}
