<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      *ngIf="mainNav.isShowMenuItems && (isHandset$ | async)">
    <mat-toolbar>Hello there!</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">ABOUT US</a>
      <a mat-list-item href="#">PROGRAMS</a>
      <a mat-list-item href="#">GET INVOLVED</a>
      <button mat-flat-button
        [ngClass]="{'donateCTA':true}"
        (click)="redirectToDonatePage()"
        color="accent">
          DONATE
      </button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="mainNav.isShowMenuItems && (isHandset$ | async)">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div
        class="mainNavLogo"
        (click)="redirectToURL('home')">
        <img
          src="assets/dadmfLogoGreen.png"
          width="30" height="30"
          class="d-inline-block align-top">
      </div>
      <div
        class="mainNavTitle"
        (click)="redirectToURL('home')">
        <span class="titleFirstLine">DATU-ANGELES-DAVID</span>
        <span>MEMORIAL FOUNDATION</span>
      </div>
      <span class="spacer"></span>
      <div
        *ngIf="mainNav.isShowMenuItems && !( isHandset$ | async )">
        <a href="#">ABOUT US</a>
        <a href="#">OUR PROGRAMS</a>
        <a href="#">GET INVOLVED</a>
        <button mat-flat-button
          [ngClass]="{'donateCTA':true}"
          (click)="redirectToURL('donate')"
          color="accent">
            DONATE
        </button>
      </div> 
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
