<div class="donation-page-container">
  <div class="donation-page-form-card-container">
    <mat-card class="donation-form-card">
      <mat-card-header>
        <mat-card-title>
          <h1 class="donation-form-card__header-title">DONATE TO SAVE LIVES</h1>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="donation-card-content">
        <div class="donation-card-content__description">
          Your donation helps us provide healthcare services and housing to the poor people of Pampanga.
        </div>

        <form
          [formGroup]="donationForm"
          (ngSubmit)="onSubmit()"
        >
          <div class="donation-form-section donation-form-section">
            <div class="donation-form-section__header">
              Gift Information
            </div>

            <div class="donation-form-field-row">
              <div class="donation-form-field-column">
                <div
                  class="donation-amount-selection">
                  <input
                    class="donation-amount-selection__radio-checkbox"
                    id="100Amount"
                    type='radio'
                    value='100'
                    [formControl]="donationForm.controls.amount"/>
                  <label
                    class="donation-amount-selection__button"
                    for="100Amount"
                    value="100">
                    ₱100
                  </label>
                  <input
                    class="donation-amount-selection__radio-checkbox"
                    id="500Amount"
                    type='radio'
                    value='500'
                    [formControl]="donationForm.controls.amount"/>
                  <label
                    class="donation-amount-selection__button"
                    for="500Amount"
                    value="500"
                    checked>
                    ₱500
                  </label>
                  <input
                    class="donation-amount-selection__radio-checkbox"
                    id="1000Amount"
                    type='radio'
                    value='1000'
                    [formControl]="donationForm.controls.amount"/>
                  <label
                    class="donation-amount-selection__button"                                
                    for="1000Amount"                    
                    value="1000">
                    ₱1000
                  </label>
                  <input
                    class="donation-amount-selection__radio-checkbox"
                    id="5000Amount"
                    type='radio'
                    value='5000'
                    [formControl]="donationForm.controls.amount"/>
                  <label
                    class="donation-amount-selection__button"                
                    for="5000Amount"                    
                    value="5000">
                    ₱5000
                  </label>
                  <input
                    class="donation-amount-selection__radio-checkbox"
                    id="10000Amount"
                    type='radio'
                    value='10000'
                    [formControl]="donationForm.controls.amount"/>
                  <label
                    class="donation-amount-selection__button"                                
                    for="10000Amount"                    
                    value="10000">
                    ₱10000
                  </label>
                </div>
              </div>
            </div>

            <div class="donation-form-field-row">
              <div class="donation-form-field-column">
                <div class="donation-page-form-card-container__input-box-label"> 
                  Other amount
                </div>
                <input
                  class="donation-page-form-card-container__input-box"
                  placeholder="Other amount"
                  [formControl]="donationForm.controls.amount">
              </div>
            </div>  

            <div class="donation-form-field-row">
              <div class="donation-form-field-column">
                <mat-button-toggle-group
                  class="binary-choice-toggle-container"
                  [formControl]="donationForm.controls.frequency">
                  <mat-button-toggle 
                    class="binary-choice-toggle-container__btn"                
                    value="{{ DonationFrequency.ONCE }}" checked>
                    Give Once
                  </mat-button-toggle>
                  <mat-button-toggle
                    class="binary-choice-toggle-container__btn"                                
                    value="{{ DonationFrequency.MONTHLY }}">
                    Give Monthly
                  </mat-button-toggle>
                </mat-button-toggle-group>
              </div>
            </div>
          </div>

          <mat-divider [inset]="true"></mat-divider>

          <div class="donation-form-section">
            <div class="donation-form-section__header">
              Payment Information
            </div>

            <div class="donation-form-field-row">
              <mat-button-toggle-group
                class="binary-choice-toggle-container"
                [formControl]="donationForm.controls.paymentMethod">
                <mat-button-toggle
                  class="binary-choice-toggle-container__btn"                                
                  value="{{ PaymentMethod.CREDIT_CARD }}" checked>
                  Pay by Credit Card
                </mat-button-toggle>
                <mat-button-toggle
                  class="binary-choice-toggle-container__btn"                                
                  value="{{ PaymentMethod.PAYPAL }}">
                  Pay by Paypal
                </mat-button-toggle>
              </mat-button-toggle-group>
            </div>

            <div class="donation-form-field-row">
              <div class="donation-form-field-column">
                <div class="donation-page-form-card-container__input-box-label"> 
                  Card number
                </div>
                <input
                  class="donation-page-form-card-container__input-box"
                  [formControl]="donationForm.controls.creditCardNumber">
              </div>
            </div>

            <div class="donation-form-field-row">
              <div class="donation-form-field-column">
                <div class="donation-page-form-card-container__input-box-label"> 
                  Expiry Month
                </div>
                <div class="donation-form-select-box-container">
                  <select
                    class="donation-form-select-box-container__select-box"
                    [formControl]="donationForm.controls.creditCardExpiryMonth">
                    >
                    <option
                      *ngFor="let month of MONTHS"
                      class="donation-page-form-card-container__input-box"
                      value="{{ month.number }}">
                        {{ month.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="donation-form-field-column">
                <div class="donation-page-form-card-container__input-box-label"> 
                  Expiry Year
                </div>
                <div class="donation-form-select-box-container">
                  <select
                    class="donation-form-select-box-container__select-box"
                    [formControl]="donationForm.controls.creditCardExpiryYear">
                    <option
                      *ngFor="let year of creditCardExpiryYears"
                      class="donation-page-form-card-container__input-box"
                      value="{{ year }}">
                      {{ year }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="donation-form-field-column">
                <div class="donation-page-form-card-container__input-box-label"> 
                  CVC
                </div>
                <input
                  class="donation-page-form-card-container__input-box"
                  [formControl]="donationForm.controls.cvc">
              </div>
            </div>
          </div>

          <mat-divider [inset]="true"></mat-divider>

          <div class="donation-form-section">
            <div class="donation-form-section__header">
              Billing Information
            </div>
          
            <div class="donation-form-field-row">
              <div class="donation-form-field-column">
                <div class="donation-page-form-card-container__input-box-label"> 
                  First Name
                </div>
                <input
                  class="donation-page-form-card-container__input-box"
                  [formControl]="donationForm.controls.firstName">
              </div>
              <div class="donation-form-field-column">              
                <div class="donation-page-form-card-container__input-box-label"> 
                  Last Name
                </div>
                <input
                  class="donation-page-form-card-container__input-box"
                  [formControl]="donationForm.controls.lastName">
              </div>
            </div>

            <div class="donation-form-field-row">
              <div class="donation-form-field-column">
              <div class="donation-page-form-card-container__input-box-label"> 
                Address
              </div>
              <input
                class="donation-page-form-card-container__input-box"
                [formControl]="donationForm.controls.address">
              </div>
            </div>
          
            <div class="donation-form-field-row">
              <div class="donation-form-field-column">
                <div class="donation-page-form-card-container__input-box-label"> 
                  City
                </div>
                <div class="donation-form-select-box-container">
                  <select
                    class="donation-form-select-box-container__select-box"
                    [formControl]="donationForm.controls.city">
                    <option *ngFor="let city of cities" [value]="city">
                      {{ city }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="donation-form-field-column">
                <div class="donation-page-form-card-container__input-box-label"> 
                  State/Province
                </div>
                <div class="donation-form-select-box-container">
                  <select
                    class="donation-form-select-box-container__select-box"
                    [formControl]="donationForm.controls.city">
                    <option *ngFor="let state of states" [value]="state">
                      {{ state }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="donation-form-field-column">
                <div class="donation-page-form-card-container__input-box-label"> 
                  Zip code
                </div>
                <input
                  class="donation-page-form-card-container__input-box"
                  [formControl]="donationForm.controls.zipCode">
              </div>            
            </div>

            <div class="donation-form-field-row">
                <div class="donation-form-field-column">
            <div class="donation-page-form-card-container__input-box-label"> 
              Email
            </div>
            <input
              class="donation-page-form-card-container__input-box"
              [formControl]="donationForm.controls.email">
              </div>            
            </div>
          </div>

          <div class="submit-container">     
            <div class="donation-summary">
              <div class="donation-summary__cost">
                Amount: ₱{{ donationForm.controls.amount.value }} PHP
              </div>
              <div class="donation-summary__frequency">
                {{
                  donationForm.controls.frequency.value === DonationFrequency.ONCE
                    ? 'One-time donation'
                    : 'Monthly donation'
                }}
              </div>
            </div>
            <button mat-flat-button
              class="submit-container__btn"
              color="accent"
              type="submit"
              (click)="onSubmit()">
                DONATE NOW
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
