.donationPageContainer {
    background: url('../../assets/parentsCarryingCleftLipBaby.jpg');
    background-attachment: fixed;
    background-size: cover;
    overflow: auto;

    .donationPageFormCardContainer {
        margin: 50px auto;
        width: 90%;
        max-width: 1000px;

        .donationFormCard {
            max-width: 560px;

            .donationCardBody {
                margin: 0 16px;
        
                .donationPurpose {
                    font-size: 22px;
                }
        
                .field {
                    margin-bottom: 16px;
                }
            }
        }
    }
}

@media screen and (max-width: 560px) {
    .donationPageContainer {
        .donationPageFormCardContainer {
            margin: 200px auto;
            max-width: 560px;    
        }
    }
}